<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="AprsConfig" type="Boerman.Aeronautics.AprsClient.Config.AprsConfig,Boerman.Aeronautics.AprsClient" />
        <!--<section name="AprsTrackerConfig" type="AprsTracker.AprsTrackerConfig,AprsTracker" />-->
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <!-- Just get all data. See http://www.aprs-is.net/javAPRSFilter.aspx for more info-->
    <AprsConfig uri="aprs.glidernet.org" port="14580" password="-1" filter="t/poimqstunw" useOgnAdditives="true"></AprsConfig>
</configuration>